*{
    box-sizing: border-box;
}
.cards{
    padding: 25px 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1170px;
    justify-content: space-between;
}
.todo-wrapper{
    max-width: 250px;
    width: 100%;
    padding: 20px;
}
.todo-wrapper__text{
    color: red;
    font-size: 12px;
}